# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.erb  text eol=lf
*.json text eol=lf
*.md   text eol=lf
*.pp   text eol=lf
*.rb   text eol=lf
*.sh   text eol=lf
*.txt  text eol=lf
*.yaml text eol=lf
